<!DOCTYPE html>
<html>

<head>
  <title>InstagramClone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Instagram Clone</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <%= link_to "ダッシュボード", dashboard_path, class: "p-2 text-dark"%>
      <%= link_to "新規投稿", "#", class: "p-2 text-dark"%>
      <%= link_to "プロフィール", "#", class: "p-2 text-dark"%>
      <%= link_to "サインアウト", destroy_account_session_path, method: :delete, class: "p-2 text-dark"%>
    </nav>
  </div>
  <%= yield %>
</body>

</html>